<!DOCTYPE html><html><head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="header">
    <h1>The Writer&apos;s Block</h1>
  <div class="new">
  <a href="https://jasper-velociraptor.glitch.me/post/n" style="float:right">New Post</a>
</div>
</div>
  <div class="row">
    <div id="leftcolumn">
      </div>
      <div>
        <h1>
          You must login to etherium first!
        </h1>
    </div>
    </div>

  </body></html>